MIJNDOMEIN_USERNAME=foo@example.com
MIJNDOMEIN_PASSWORD=example_password
MIJNDOMEIN_OTP=000000

MIJNDOMEIN_RECORDS='
{
  "330034": [
    ["example.com", "both"],
    ["www.example.com", "ipv4"]
  ],
  "2334541": [
    "www.foobar.com"
  ]
}
'
