CLOUDFLARE_API_TOKEN=
CLOUDFLARE_RECORDS='
  {
    "4348985459459t458": [
      ["example.com", "both"],
    ],
    "43343959445kj549549": [
      ["foo.com", "both"],
      ["www.foo.com", "both"],
    ],
  }
'

